/* Global styles */
.init-link {
    color: initial;
    text-decoration: none;
}
.products .item {
    position: relative;
    .ribbon {
        font-weight: bold;
        color: #fff;
        /* Go */
        --f: .5em; /* control the folded part */
        position: absolute;
        top: 0;
        right: 12px;
        line-height: 1.8;
        padding-inline: 1lh;
        padding-bottom: var(--f);
        border-image: conic-gradient(#0008 0 0) 51%/var(--f);
        clip-path: polygon(
            100% calc(100% - var(--f)),
            100% 100%,
            calc(100% - var(--f)) calc(100% - var(--f)),
            var(--f) calc(100% - var(--f)),
            0 100%,0 calc(100% - var(--f)),
            999px calc(100% - var(--f) - 999px),
            calc(100% - 999px) calc(100% - var(--f) - 999px)
        );
        transform: translate(calc((1 - cos(45deg))*100%), -100%) rotate(45deg);
        transform-origin: 0% 100%;
        background-color: #BD1550; /* the main color  */
    }
    .name {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block; 
    }
    .price {
        color: #790216;
        font-weight: 500;
    }
}
.jumbotron {
    background-color: #7a0317;
    color: #EEEEEE;
    font-family: serif;
}
.alcohol-warning {
    &.bg-danger {
        --bs-danger-rgb: 0,0,0;
    }
    img {
        max-width: 100%;
    }
}

/* Overwrite header nav link */
.header {
    .nav-underline .nav-link {
        border-top: var(--bs-nav-underline-border-width) solid transparent;
        border-bottom: none;
    }
    .nav-underline .nav-link.active, .nav-underline .show > .nav-link {
        border-top-color: rgb(121, 1, 21);
    }
}

/* #home-page {} */
#item-page {
    .product-info {
        font-size: 1.5rem;
        font-weight: bold;
        .list-group-item {
            --bs-list-group-color: rgb(121, 1, 21);
        }
    }
    .contact {
        ul {
            margin: 1rem;
            padding: 0;
            display: flex;
            gap: 0.5rem;
            li {
                list-style: none;
            }
        }
    }
}
