/* Global styles */
.init-link {
    color: initial;
    text-decoration: none;
}
.products .item {
    position: relative;
    .ribbon {
        --ribbon-width: 48px;
        position: absolute;
        top: calc(var(--ribbon-width) / 4);
        right: calc(var(--ribbon-width) / 2);
        width: var(--ribbon-width);
        height: var(--ribbon-width);
        transform: rotate(32deg);
        line-height: calc(var(--ribbon-width) - 4px);
        opacity: 0.8;
        border-radius: 50%;
        display: block;
        text-align: center;
        border: 2px #7a0317 solid;
        color: #7a0317;
    }
    .name {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block; 
    }
    .price {
        color: #790216;
        font-weight: 500;
    }
}
.jumbotron {
    background-color: #7a0317;
    color: #EEEEEE;
    font-family: serif;
    .panel {
        position: relative;
        top: 70px;
    }
}
.alcohol-warning {
    &.bg-danger {
        --bs-danger-rgb: 0,0,0;
    }
    img {
        max-width: 100%;
        /* width: 78vw; */
    }
}
.list-group {
    --bs-list-group-item-padding-x: 0;
    /* --bs-list-group-border-color */
    /* --bs-list-group-item-padding-y: 0.5rem; */
    .list-group-item {
        &:hover {
            --bs-list-group-border-color: #7a0317;
        }
        a {
            display: block;
            width: 100%;
            color: #08303D;
        }
        a:hover {
            color: #7a0317;
            /* --bs-link-color-rgb: 122, 3, 23; */
        }
    }
}
footer {
    margin: 0.1rem;
    margin-top: 2rem;
    .footer-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.1em;
        li {
            list-style: none;
        }
    }
}

/* Overwrite header nav link */
.header {
    .nav-underline .nav-link {
        border-top: var(--bs-nav-underline-border-width) solid transparent;
        border-bottom: none;
    }
    .nav-underline .nav-link.active, .nav-underline .show > .nav-link {
        border-top-color: rgb(121, 1, 21);
    }
    .nav-link {
        position: relative;
        &::before {
            content: '';
            left: 50%;
            right: 50%;
            position: absolute;
            top: 0;
            background: #790216;
            height: 2px;
            transition: all 0.3s ease;
        }
        &:hover::before {
            left: 0;
            right: 0;
        }
    }
}

/* #home-page {} */
#item-page {
    .product-info {
        font-size: 1.5rem;
        font-weight: bold;
        .list-group-item {
            --bs-list-group-color: rgb(121, 1, 21);
        }
    }
    .contact {
        ul {
            margin: 1rem;
            padding: 0;
            display: flex;
            gap: 0.5rem;
            li {
                list-style: none;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .products .item .ribbon {
        display: none;
    }
}